.destinationBox{
    width: 100%;
    display: flex;
    gap: 1rem;
}
.order{
    width: 5%;
    /* height: 100%; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.number{
    width: 100%;
    border: 1px solid gray;
    border-radius: 50%;
    text-align: center;
}
.line{
    width: 0;
    height: 100%;
    border: 1px solid gray 
}
.destinationInfoBox{
    width: 95%;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}
.destinationInfoTop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.destinationInfoTop>div{
    width: 90%;
    display: flex;
    flex-flow: column;
}
.destinationWeather{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.destinationWeather img{
    width: 15%;
}
.destinationWeather>div{
    font-size: .7rem;
}
.destinationInfoMain{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.destinationInfoTitle{
    width: 60%;
    display: flex;
    flex-flow: column;
    gap: .5rem;
}
.destinationInfoMain img{
    width: 40%;
    /* height: 200px; */
}